/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container{
    margin:10px;
    display:flex;
}


.background-primary {
    background-color: #512DA8!important;
  }
.background-accent {
    background-color: #FFC107!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
  flex: 1 1 auto;
}